doctype html
html(class="" lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title

        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        meta(property="og:url" content="")
        meta(property="og:type" content="website")
        meta(property="og:title" content="")
        meta(property="og:description" content="")
        meta(property="og:image" content="")
        meta(property="og:site_name" content="")

        meta(name="twitter:card" content="photo")
        meta(name="twitter:site" content="@georgiNikoloff")
        meta(name="twitter:title" content="")
        meta(name="twitter:image" content="")
        meta(name="twitter:url" content="")

        link(href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet")
    body
        
        div(id="app-container")

        script(type="text/javascript").
          var worksData = !{JSON.stringify(worksData)};

        script(src="js/bundle.js")
